<div class="alert alert-danger alert-dismissible fade show">
    <strong>Saving failed!!!</strong>
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
