@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <address>
        West tejturi bazar <br/>
        Tejgaon, Dhaka <br />
        <abbr title="Phone">P:</abbr>
        01645119083
    </address>

    <address>
        <strong>Contact:</strong>   contact.masumkazi@gmail.com</a><br />

    </address>
</main>