@{
    ViewBag.Title = "Home Page";
}
<div class="text-center">
    <h2>Task Completed By <b>Masum Kazi</b></h2>
    <p>
       contact.masumkazi@gmail.com
        <br />
        01645119083
    </p>

</div>